<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="css/stickyfooter.css" rel="stylesheet">
</head>

<body>
    <%- include navbar.ejs %>
    <br>
    <div class="container">
        <h3>
            <%= title %>
        </h3>
    </div>
    <br>
    <div class="container">
        <h4>Connecting Salesforce to your custom apps is easy.</h4>
        <ul class="list-group">
            <li class="list-group-item">
                Create your express node js app. (like this)
            </li>
            <li class="list-group-item">
                Create a node js project on heroku cloud. Push your node js app to the the project.

            </li>
            <li class="list-group-item">
                Add Postgres and Heroku connect (for salesforce) addons to the project.
            </li>
            <li class="list-group-item">
                Integrate your sales force account to postgres using heroku connect. Map your desired objects.
            </li>
        </ul>
    </div>



    <%- include footer.ejs %>

</body>

</html>